.main {
  display: flex;
  flex-direction: column;
}

.tablee {
  order: 2;
}

.contacts {
  order: 1;
}

@media (min-width: 850px) {
  .menu_list {
    display: flex;
    flex-direction: column;
  }
  .main {
    display: flex;
    flex-direction: column;
  }

  .tablee {
    order: 1;
  }

  .contacts {
    order: 2;
  }
}
